.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  padding: 20px;
  margin-top: 64px; /* Ajusta el valor según el tamaño de tu encabezado */
}

  